{{ define "main" }}
<div id="root" class="w-screen h-[100dvh] flex items-center justify-center">

    <!-- Phone Container -->
    <div id="phonecontainer"
        class="aspect-[9/19.5] h-full max-w-[calc(100dvh*0.4615)] w-auto bg-cover bg-center text-white relative">

        <!-- Status Bar -->
        <div class="justify-between status-bar px-4 py-6 h-16 flex items-center">
            <span class="flex items-center text-3xl font-mono">PhaseTel</span>
            <div class="flex space-x-4 items-center h-full">
                <span class="flex items-center h-full">
                    <img src="/images/signal-status.png" class="invert" style="height:2rem;width:auto;" />
                </span>
                <span class="flex items-center h-full">
                    <img src="/images/internet.png" class="invert" style="height:2rem;width:auto;" />
                </span>
                <span class="flex items-center h-full">
                    <img src="/images/low-battery.png" class="invert" style="height:2rem;width:auto;" />
                </span>
            </div>
        </div>


        <!-- Clock & Date -->
        <div id="timedisplay" class="relative text-center mt-32">
            <p class="locking">{{ now.Format "Monday, January 2" }}</p>
            <p class="locking time">{{ now.Format "15:04"}}</p>
        </div>

        <!-- Lock -->
        <ul id="unlockbutton" class="locking buttons absolute left-0 right-0" style="bottom: 40%;">
            <li><a href="#" class="button n01">Tap to Unlock</a></li>
        </ul>

    </div>

</div>
{{ end }}